####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# IDE / Editors
####################################
.idea/
*.iml
.vscode/
*.swp
*.swo

####################################
# Java / Spring Boot
####################################
target/
*.class
*.log
*.jar
*.war
*.ear
hs_err_pid*

####################################
# Maven / Gradle
####################################
.mvn/wrapper/maven-wrapper.jar
.gradle/
build/

####################################
# Node / Angular
####################################
node_modules/
dist/
.tmp/
.cache/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

####################################
# Angular environments (optionnel)
####################################
frontend/src/environments/environment*.ts

####################################
# Docker
####################################
*.env
.env
docker-compose.override.yml

####################################
# Logs
####################################
logs/
*.log

####################################
# Tests / Coverage
####################################
coverage/
*.lcov

####################################
# Misc
####################################
*.bak
*.tmp
