<nav class="header-nav">
  <!-- Logo à gauche -->
  <div class="logo">
    <!-- Remplacez le src de l'image par le chemin de votre logo -->
    <a routerLink="/home"><img src="/assets/logo.png" alt="Sharincook Logo"/></a>
  </div>

  <!-- Menu à droite -->
  <ul class="nav-links">
    <!-- Lien vers Recettes -->
    <li>
      <a routerLink="/recipes">
        Recettes
      </a>
    </li>

    <!-- Lien vers Le blog -->
    <li>
      <a routerLink="/blog">
        Le blog
      </a>
    </li>

    <li class="user-icon-wrapper" (click)="toggleDropdown()">
      <i class="material-icons">account_circle</i>
      @if (showDropdown) {
        <app-user-dropdown [isLoggedIn]="isLoggedIn" (requestClose)="closeDropdown()">
        </app-user-dropdown>
      }
    </li>
  </ul>
</nav>
