.header-nav {
  background-color: #D54A4B ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #fff;

  .logo img {
    width: 180px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    position: relative;

    li a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.2s;

      &:hover {
        color: #ffcccc;
      }
    }

    .material-icons {
      font-size: 24px;
      vertical-align: middle;
    }
    .user-icon-wrapper {
      position: relative;
    }
  }
}
